header.header.header_in
	.container
		a.header__logo.logo(href='index.html')
			img.header__logo-img(src='img/logo.png' alt='logo')
		.header__section
			//begin lang
			.header__lang.lang
				a.lang__link(href='#') fr
				| |
				a.lang__link.is-active(href='#') en
			//end lang

			//begin hamburger
			.hamburger.hamburger_spin.js-hamburger
				.hamburger__box
					.hamburger__inner
			//end hamburger

			//begin nav
			nav.header__nav.nav.js-nav
				a.nav__link(href='#') Home
				a.nav__link(href='#') Preventive Dentistry
				a.nav__link(href='#') prevention
				a.nav__link(href='#') for professionals
				a.nav__link(href='#') Contact
			//end nav
