extend includes/_layout
block title
	title Method
block header
	include includes/_header_in
block content
	//begin secrets
	.secrets
		.container
			h2.secrets__h2.h2.wow.fadeInUp(data-wow-offset='150') Your Mouth Has Secrets
			.secrets__subtitle.wow.fadeInUp(data-wow-offset='150') The mouth is often perceived as a separate part of the human body. However, growing scientific evidence shows oral health is directly linked to overall health in many ways
	//end secrets

	//begin numbers
	.numbers
		.container
			h3.numbers__h3.h3.wow.fadeInUp(data-wow-offset='150') Your mouth is a key pathway to your body
			.divider.wow.fadeInUp(data-wow-offset='150')
				.divider__line
			.numbers__row
				.numbers__col
					.numbers__number.wow.zoomIn(data-wow-offset='150') <span class='js-number' data-number='1'>0</span>%
					.numbers__text.wow.zoomIn(data-wow-offset='150') systemic diseases have oral manifestations
				.numbers__col
					.numbers__number.wow.zoomIn(data-wow-offset='150') <span class='js-number' data-number='2'>0</span>
					.numbers__text.wow.zoomIn(data-wow-offset='150') new cases of oral cancer in Switzerland each year
				.numbers__col
					.numbers__number.wow.zoomIn(data-wow-offset='150') <span class='js-number' data-number='3'>0</span>-<span class='js-number' data-number='4'>0</span>%
					.numbers__text.wow.zoomIn(data-wow-offset='150') Early diagnosis increases the survival rate
	//end numbers

	//begin statistics
	.statistics
		.container
			h3.statistics__h3.h3.wow.fadeInUp(data-wow-offset='150') Obstructive sleep apnea (OSA) can be diagnosed by your dental surgeon
			.divider.wow.fadeInUp(data-wow-offset='150')
				.divider__line
			.statistics__row
				.statistics__col
					.statistics__subcol.statistics__subcol_50.js-subcol-1 <span class='js-number' data-number='5'>0</span>%
					.statistics__subcol.statistics__subcol_50
				.statistics__col.wow.fadeInRight(data-wow-offset='150')
					.statistics__text OSA is an important risk factor for cardio-vascular disease.  50% of patients with arterial hypertension also have AOS.
			.statistics__row
				.statistics__col
					.statistics__subcol.statistics__subcol_70.js-subcol-2 <span class='js-number' data-number='6'>0</span>%
					.statistics__subcol.statistics__subcol_30
				.statistics__col.wow.fadeInRight(data-wow-offset='150')
					.statistics__text Up to 70% of patients admitted to hospital with coronary artery disease were found to have sleep apnea.
	//end statistics

	//begin health
	.health
		.container
			h3.health__h3.h3.wow.fadeInUp(data-wow-offset='150') Periodontal disease can provoke or worsen certain health problems
			.divider.wow.fadeInUp(data-wow-offset='150')
				.divider__line
			.health__subtitle.wow.fadeInUp(data-wow-offset='150') Bacterial infection and inflammation from periodontal disease is associated with other diseases
		.health__content
			.health__image
				img.health__image-img.wow.fadeIn(data-wow-offset='150' src='img/content/teeth.png' alt='image')
				.health__image-text.wow.fadeIn(data-wow-offset='150' data-wow-delay='0.5s') Bacteria, bacterial endotoxins and proinflammatory molecules travel from the gums into the blood, linking periodontitis to other systemic diseases.
			.health__text-center.text-center.wow.fadeIn(data-wow-offset='150' data-wow-delay='0.5s')
				.health__desc Just hover your mouse pointer on the body
			.health__man.wow.fadeIn(data-wow-offset='150' data-wow-delay='0.5s')
				img.health__man-img(src='img/content/man.png' alt='image')
				.health__point.health__point_1
					img.health__point-text.health__point-text_1(src='img/content/text-1.png' alt='image')
				img.health__point-img(src='img/content/man-1.png' alt='image')
				.health__point.health__point_2
					img.health__point-text.health__point-text_2(src='img/content/text-2.png' alt='image')
				img.health__point-img(src='img/content/man-2.png' alt='image')
				.health__point.health__point_3
					img.health__point-text.health__point-text_3(src='img/content/text-3.png' alt='image')
				img.health__point-img(src='img/content/man-3.png' alt='image')
				.health__point.health__point_4
					img.health__point-text.health__point-text_4(src='img/content/text-4.png' alt='image')
				img.health__point-img(src='img/content/man-4.png' alt='image')
				.health__point.health__point_5
					img.health__point-text.health__point-text_5(src='img/content/text-5.png' alt='image')
				img.health__point-img(src='img/content/man-5.png' alt='image')
				.health__point.health__point_6
					img.health__point-text.health__point-text_6(src='img/content/text-6.png' alt='image')
				img.health__point-img(src='img/content/man-6.png' alt='image')
				.health__point.health__point_7
					img.health__point-text.health__point-text_7(src='img/content/text-7.png' alt='image')
				img.health__point-img(src='img/content/man-7.png' alt='image')
	//end health

	//begin unique
	.unique
		.container
			h2.unique__h2.h2.wow.fadeInUp(data-wow-offset='150') The unique method Biolink
			.unique__subtitle.wow.fadeInUp(data-wow-offset='150') Three Steps to Health, which we make together!
	//end unique

	//begin steps
	.steps
		.container
			.method__row
				.method__circle.wow.fadeInLeft(data-wow-offset='150')
					.method__number 1
					.method__text Advanced <br>diagnostics
				.method__circle.wow.fadeInLeft(data-wow-offset='150' data-wow-delay='0.5s')
					.method__number 2
					.method__text Treatments
				.method__circle.wow.fadeInLeft(data-wow-offset='150' data-wow-delay='1s')
					.method__number 3
					.method__text Coaching
	//end steps

	//begin first
	.first.container
		h3.first__h3.h3.wow.fadeInUp(data-wow-offset='150') FIRST STEP : <br>Advanced Diagnostics
		.divider.wow.fadeInUp(data-wow-offset='150')
			.divider__line
		.first__subtitle.wow.fadeInUp(data-wow-offset='150') An oral check-up—or risk-factor analysis—will reveal existing, starting and potential conditions or problems at different levels, e.g., teeth, gums and oral mucosa.
		.first__subtitle2.wow.fadeInUp(data-wow-offset='150') Multi-step diagnosis includes:
		//begin diagnosis
		.diagnosis
			.diagnosis__item.wow.flipInY(data-wow-offset='150')
				.diagnosis__image
					img.diagnosis__img(src='img/content/diagnosis-1.png' alt='image')
				.diagnosis__text Preparing a detailed medical history
			.diagnosis__item.wow.flipInY(data-wow-offset='150' data-wow-delay='0.5s')
				.diagnosis__image
					img.diagnosis__img(src='img/content/diagnosis-2.png' alt='image')
				.diagnosis__text Oral check-up reinforced by the use of 3 different cameras and oral cancer visualization devices
			.diagnosis__item.wow.flipInY(data-wow-offset='150' data-wow-delay='1s')
				.diagnosis__image
					img.diagnosis__img(src='img/content/diagnosis-3.png' alt='image')
				.diagnosis__text Radiographic examination
			.diagnosis__item.wow.flipInY(data-wow-offset='150' data-wow-delay='1.5s')
				.diagnosis__image
					img.diagnosis__img(src='img/content/diagnosis-4.png' alt='image')
				.diagnosis__text Blood analysis
			.diagnosis__item.wow.flipInY(data-wow-offset='150' data-wow-delay='2s')
				.diagnosis__image
					img.diagnosis__img(src='img/content/diagnosis-5.png' alt='image')
				.diagnosis__text Respiratory holter <br>(depending on medical history and oral check-up)
			.diagnosis__info.wow.fadeInUp(data-wow-offset='150' data-wow-delay='2s') Information gathered from this risk-factor analysis gives us a global understanding of your current health, including any possible interactions between oral health and general body health.
		//end diagnosis
	//end first

	//begin second
	.second
		.container
			h3.second__h3.h3.wow.fadeInUp(data-wow-offset='150') SECOND STEP : <br>Treatments
			.divider.wow.fadeInUp(data-wow-offset='150')
				.divider__line
			.second__image.wow.zoomIn(data-wow-offset='150')
				img.second__img(src='img/content/second.png' alt='image')
			.second__desc
				.second__item.wow.fadeIn(data-wow-offset='150')
					.second__title Periodontal (gum) treatment
					.second__text Complete bacterial decontamination. This individual treatment protocol allows clean gums and the tongue from all harmful bacteria, in one sitting, with no pain (anesthesia is not required) and without antibiotics.  Our treatments uniquely combine the use of vertical deflection ultrasound with hydroxyapatite fluid, diode laser, ozone generator, and plasm-rich growth factor sub-gingival irrigations.
				.second__row
					.second__col
						.second__item.wow.fadeIn(data-wow-offset='150' data-wow-delay='0.5s')
							.second__title Tooth treatments
							.second__text Early and minimal invasive treatments of dental decay, including full ultra-thin zirconium teeth coverings.
					.second__col
						.second__item.wow.fadeIn(data-wow-offset='150' data-wow-delay='1s')
							.second__title Dental Tray
							.second__text Dental trays are produced in thin transparent materials, are easy to wear, and are the treatment of choice for dental wear or sleep apnea disorders.
		//end second

	//begin third
	.third.container
		h3.third__h3.h3.wow.fadeInUp(data-wow-offset='150') THIRD STEP : <br>Coaching
		.divider.wow.fadeInUp(data-wow-offset='150')
			.divider__line
		.third__subtitle.wow.fadeInUp(data-wow-offset='150') Because preventive medicine requires a proactive mindset, individual medical and dental coaching always completes the approach.  It provides patients with the knowledge that will keep them in good health and able to transmit this knowledge to children and family.
	//end third

	//begin empty
	.empty
		.container
			.empty__text.wow.fadeInUp(data-wow-offset='150') Depending on the findings gathered through medical history and blood analysis we can shade the light on various factor that will positively or adversely influence your global health including oral health.
	//end empty

	//begin reason
	.reason.container
		.reason__item.wow.zoomIn(data-wow-offset='150')
			.reason__image
				.icon.icon-reason-1
			.reason__text You are smocking e-cigarrette? Understand the effect of nicotine on your body and on bystanders’ (beware of your Kids!)
		.reason__item.wow.zoomIn(data-wow-offset='150' data-wow-delay='0.5s')
			.reason__image
				.icon.icon-reason-2
			.reason__text You have shown low level of D-vitamine? What are the consequences and how to safely fix-it?
		.reason__item.wow.zoomIn(data-wow-offset='150' data-wow-delay='1s')
			.reason__image
				.icon.icon-reason-3
			.reason__text You are practicing sport? Great! Understand all the benefice of physical activity through a summery of the latest scientific update.
		.reason__item.wow.zoomIn(data-wow-offset='150' data-wow-delay='1.5s')
			.reason__image
				.icon.icon-reason-4
			.reason__text What are the consequences of your food choices? Are your food supplements effective?
		.reason__item.wow.zoomIn(data-wow-offset='150' data-wow-delay='2s')
			.reason__image
				.icon.icon-reason-5
			.reason__text You are currently taking medication? What is the impact on your mouth and how to avoid side effects?
	//end reason

	//begin coach
	.coach.container
		h3.coach__h3.h3.wow.fadeInUp(data-wow-offset='150') In the coaching part you will learn how to:
		.divider.wow.fadeInUp(data-wow-offset='150')
			.divider__line
		.method__row
			.method__circle.wow.fadeInLeft(data-wow-offset='150')
				.method__number 1
				.method__text Boost your <br>immune <br>system
			.method__circle.wow.fadeInLeft(data-wow-offset='150' data-wow-delay='0.5s')
				.method__number 2
				.method__text Increase your tissu and organe resistance
			.method__circle.wow.fadeInLeft(data-wow-offset='150' data-wow-delay='1s')
				.method__number 3
				.method__text Keep your hormonal system in balance
			.method__circle.wow.fadeInLeft(data-wow-offset='150' data-wow-delay='1.5s')
				.method__number 4
				.method__text Avoid <br>intoxicating <br>yourself
		.coach__quote.wow.zoomIn(data-wow-offset='150' data-wow-delay='1.5s') But always remember: “knowledge is a starting point, only action will make the difference”
	//end coach

	//begin priority
	.priority
		.container
			h2.priority__h2.h2.wow.fadeInUp(data-wow-offset='150') Your safety is our priority
	//end priority

	//begin approach
	.approach
		.container
			h3.approach__h3.h3.wow.fadeInUp(data-wow-offset='150') A new approach to your health
			.divider.wow.fadeInUp(data-wow-offset='150')
				.divider__line
			.approach__row
				.approach__col.wow.zoomIn(data-wow-offset='150')
					.approach__image
						.icon.icon-approach-1
					.approach__text The risk of cross-contamination while receiving dental care is among the highest among all medical practices
				.approach__col.wow.zoomIn(data-wow-offset='150' data-wow-delay='0.5s')
					.approach__image
						.icon.icon-approach-2
					.approach__text Our standards of hygiene and sterilization are strict and often far beyond what is normally required
				.approach__col.wow.zoomIn(data-wow-offset='150' data-wow-delay='1s')
					.approach__image
						.icon.icon-approach-3
					.approach__text For example, we have changed our instrumentation system to single use to prevent the possibility of cross-contamination
			.approach__info.wow.fadeInUp(data-wow-offset='150' data-wow-delay='1s') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	//end approach